extends layout

block content
    div(class='container')
        div(class='page-header')
            h1 예외관리
            h5 '예외관리'에서는 한진EMR에 등록된 그룹에 속한 구성원 중 예외적으로 접근을 허용, 변경, 삭제 및 예외 이력을 조회 하실 수 있습니다.
        table(class='table table-bordered')
            thead
                tr
                    th(style='width: 15%;') 그룹명
                    th(style='width: 15%;') 설명
                    th(style='width: 70%;') 구성원
            tbody
                tr
                    td
                        div 그룹이름
                    td
                        div 그룹설명
                    td
                        div 구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원, 구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원