extends layout

block content
    div(class='container')
        div(class='page-header')
            h1 권한관리
            h5 '권한관리'에서는 한진EMR에 등록된 그룹에서 접근할 수 없는 기능을 조회, 추가, 삭제하실 수 있습니다.
        table(class='table table-bordered')
            thead
                tr
                    th(style='width: 15%;')
                    th(style='width: 15%;') 설명
                    th(style='width: 70%;') 구성원
            tbody
                tr
                    td
                        div 그룹이름
                    td
                        div 그룹설명
                    td
                        div 구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원, 구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원,구성원, 구성원, 구성원