doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title 제주한라병원 권한관리프로그램
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/jquery-2.1.4.js').
    script(type='text/javascript', src='javascripts/util.js').
    script.
      // get url
      var pathname = $(location).attr('pathname').split('//');

      // url에 따라 javascript 분기
      if(pathname[0] == '/program'){
        $('head').append('<script src="javascripts/js_program.js"><\/script>');
      }

  body
    nav(class='navbar navbar-default navbar-fixed-top')
      div(class='container')
        div(class='navbar-header')
          button(class='navbar-toggle collapsed', aria-expanded='false', aria-controls='navbar', type='button', data-toggle='collapse', data-target='#navbar')
            span(calss='sr-only') 관리
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', href='#') CHH 접근권한관리
        div(class='collapse navbar-collapse', id='navbar')
          ul(class='nav navbar-nav')
            li
              a(href='/program') 프로그램관리
            li
              a(href='/group') 그룹관리
            li
              a(href='/forbidden') 권한관리
            li
              a(href='/exception') 예외관리
          ul(class='nav navbar-nav navbar-right')
            li
              a(href= '/' ) #{btn}

    block content
