extends layout

block content
    div(class='container')
        div(class='page-header')
            h1 프로그램관리
        table(class='table table-striped')
            thead
                tr
                    th 프로그램
                    th 그룹
                    th 기능
            tbody
                tr
                    td 이름
                    td 이름
                    td 이름, 설명

